<% if(locals.user) {%>
<div class="d-flex m-0 mt-5 p-2 flex-wrap justify-content-center">
  <!-- Student list section -->
  <div
    class="d-flex flex-column align-items-center p-2 mx-auto my-2 container-sm border rounded"
    style="
      max-width: 600px;
      min-height: 200px;
      max-height: 600px;
      overflow-y: auto;
    "
  >
    <h3 class="mt-2">Students list</h3>
    <div class="accordion accordion-flush" style="width: 90%">
      <% for (student of all_students) {%>
      <div class="accordion-item my-2 border border-1 rounded">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse<%= student._id %>"
            aria-expanded="false"
            aria-controls="collapse<%= student._id %>"
          >
            <span class="fw-semibold text-capitalize"><%= student.name %></span>
          </button>
        </h2>
        <div
          id="collapse<%= student._id %>"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body d-flex flex-column">
            <table class="table table-striped border">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td><%= student.name %></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><%= student.email %></td>
                </tr>
                <tr>
                  <td>College</td>
                  <td><%= student.college %></td>
                </tr>
                <tr>
                  <td>Batch</td>
                  <td><%= student.batch %></td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td><%= student.placement_status %></td>
                </tr>
                <tr>
                  <td>DSA score</td>
                  <td><%= student.dsa_score %></td>
                </tr>
                <tr>
                  <td>Web development score</td>
                  <td><%= student.webdev_score %></td>
                </tr>
                <tr>
                  <td>React score</td>
                  <td><%= student.react_score %></td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-around" style="width: 100%">
              <a
                href="/student/edit-student/<%= student.id %>"
                class="btn btn-primary"
                style="width: 40%"
              >
                Edit
              </a>
              <a
                href="/student/destroy/<%= student.id %>"
                class="btn btn-danger"
                style="width: 40%"
              >
                Delete
              </a>
            </div>

            <div
              class="mt-3 d-flex border-top flex-column align-items-center"
              style="width: 100%"
            >
              <h3 class="mt-2">Interviews</h3>

              <table style="width: 100%">
                <thead>
                  <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Date</th>
                    <th scope="col">Result</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(interview of student.interviews) {%>
                  <tr class="text-capitalize">
                    <td><%= interview.company %></td>
                    <td><%= interview.date %></td>
                    <td><%= interview.result %></td>
                  </tr>
                  <%} %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <%} %>
    </div>
  </div>
  <!-- Interviews section -->
  <div
    class="d-flex flex-column align-items-center p-2 mx-auto my-2 container-sm border rounded"
    style="
      max-width: 600px;
      min-height: 200px;
      max-height: 600px;
      overflow-y: auto;
    "
  >
    <h3 class="mt-2">Scheduled Interviews</h3>
    <div class="accordion accordion-flush" style="width: 90%">
      <% for (interview of all_interviews) {%>
      <div class="accordion-item my-2 border border-1 rounded">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse<%= interview._id %>"
            aria-expanded="false"
            aria-controls="collapse<%= interview._id %>"
          >
            <span class="fw-semibold font-seigeUi text-uppercase"
              ><%= interview.company %></span
            >
          </button>
        </h2>
        <div
          id="collapse<%= interview._id %>"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body d-flex flex-column align-items-center">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Company</th>
                  <td><%= interview.company %></td>
                </tr>
                <tr>
                  <th scope="col">Date</th>
                  <td><%= interview.date %></td>
                </tr>
              </tbody>
            </table>

            <div
              class="d-flex flex-column align-items-center"
              style="width: 100%"
            >
              <h5>Enrolled students</h5>

              <% for (i of interview.students) {%>

              <div
                class="border border-secondry rounded mb-2"
                style="width: 100%"
              >
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td><%= i.student.name %></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><%= i.student.email %></td>
                    </tr>
                    <tr>
                      <td>Result</td>
                      <td><%= i.result %></td>
                    </tr>
                  </tbody>
                </table>
                <a
                  href="/interview/deallocate/<%= i.student.id %>/<%= interview.id %>"
                  class="btn btn-danger ms-2 mb-2"
                  style="width: 40%"
                  >Delete</a
                >
              </div>

              <%} %>
            </div>

            <div
              class="d-flex flex-column align-items-center border rounded p-2 m-2 shadow-sm"
              style="width: 100%"
            >
              <h5 class="mt-2">Add student</h5>
              <form
                class="container-fluid"
                action="/interview/enroll-in-interview/<%= interview.id %>"
                method="POST"
              >
                <div class="mb-3">
                  <label for="student_email" class="form-label"
                    >Student email</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="student_email"
                    aria-describedby="emailHelp"
                    name="email"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="result" class="form-label">Result</label>
                  <select
                    id="result"
                    class="form-select"
                    name="result"
                    required
                  >
                    <option selected>PASS</option>
                    <option>FAIL</option>
                    <option>On Hold</option>
                    <option>Didn't attempt</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">
                  &nbsp; Add &nbsp;
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%} %>
    </div>
  </div>
</div>
<%} %>
